<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="">
        <a href="/users">   <!-- GET request on /books/ -->
            <h2 class="">Bookstore</h2>
        </a>
        <nav>
            <a href="/users/new">  <!-- GET request on /books/new -->
                <button class=""> Add Book </button>
            </a>
        </nav>
    </header>
    <div class="">
        <h1 class=""> <%=  user.name %> </h1>  <!-- here book is key came from routes/books.js  page -->
        <h2 class=""> <%=  user.email %> </h2>
        <div class="">
            <a href="/users/<%= user.id %>/edit">
                <button class=""> Edit</button>
            </a>
        </div>
    </div>
</body>
</html>