<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="">
        <h2 class=""> <%= user.name %> </h2>
        <p class=""> <%= user.email %> </p> 
        <h3 class=""> <%= user.age %> </h3>
        <p class=""> <%= user.bio %> </p>
  
    </div>
</body>
</html>